<div class="flex flex-row flex-wrap card-container blue-container">
  <div *ngFor="let product of productsList" class="m-2">
    <p-card header="{{product.brand + ' ' + product.title }}" [style]="{ width: '290px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/face-serum.avif" />
      </ng-template>
      <p>
        {{ product.description }}
      </p>
      <ng-template pTemplate="footer">
        <div class="flex">
          <p-button
          label="Details"
          icon="pi pi-eye"
          styleClass="p-button-help"
          (onClick)="openProductDetails(product)"
        ></p-button>
        <p-button
          label="Add to cart"
          icon="pi pi-plus"
          [style]="{ 'margin-left': '.5em' }"
          (onClick)="addProductToCart(product)"
        ></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-toast></p-toast>
  </div>
</div>
